<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<!-- ターゲットの設定 -->
	<targets>
		<!-- コンソール出力 -->
		<!-- <target xsi:type="Console" name="console" layout="${longdate} ${level:uppercase=true} ${message} ${exception}" /> -->
		<!-- ファイル出力 -->
		<target xsi:type="File" name="logfile" 
				fileName="log\log.txt" 
				layout="${longdate} ${level:uppercase=true} ${message} ${exception}"
				archiveFileName="log.{#}.txt" archiveAboveSize="1048576" archiveNumbering="Rolling" maxArchiveFiles="10" />
	</targets>

	<!-- ログレベルルールの設定 -->
	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="console" />-->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
